<ion-view view-title="Agregar Restaurante">
  <ion-content>
   
   <form>
   
   <div class="list">
      <label class="item item-input">
          <input type="text" placeholder="Nombre" ng-model="restaurantes.nombre">
       </label>
       <label class="item item-input">
           <input type="text" placeholder="Descripcion" ng-model="restaurantes.descripcion">
       </label>
       <label class="item item-input">
           <input type="text" placeholder="Direccion" ng-model="restaurantes.direccion">
       </label>
	   
	   <label>
	   <br><br>
           <button class="button button-positive" ng-click="guardarRestaurante()">
        Guardar
       </button>
	   
	   </label>
   </div>
   
   </form>
  </ion-content>
</ion-view>
