<ion-view title="inicio" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="inicio-heading1" style="color:#000000;text-align:center;">¿Eres?</h1>
    <button id="inicio-button7" class="button button-positive  button-block icon ion-man">HOMBRE</button>
    <div>
      <img src="img/ulrMLCW9RkuD8ZGUACdW_1054_o.jpg" width="30%" height="30%" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <button id="inicio-button8" class="button button-positive  button-block icon ion-woman">MUJER</button>
    <div>
      <img src="img/4G7i72WRuqdaAcB0BztP_1054_o.jpg" width="30%" height="30%" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>