<ion-view title="inicio" hide-nav-bar="true" hide-back-button="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/sGVDWLGmS5eiTQ5IPlhV_unnamed.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <a ui-sref="inicioSesion" id="inicio-button5" style="font-weight:500;font-size:30px;" class="button button-positive  button-block">Empezar</a>
  </ion-content>
</ion-view>