<ion-view title="Opciones" hide-back-button="true" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="opciones-list4">
      <ion-item class="item-icon-right" id="opciones-list-item5" ui-sref="calentamiento">Calentamiento
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="opciones-list-item6" ui-sref="ejercicios">Ejercicios
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="opciones-list-item7" ui-sref="rutinas">Rutinas
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="opciones-list-item8" ui-sref="nutricion">Nutricion
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <div id="opciones-container1" class="creator-container"></div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="inicioSesion" id="opciones-button4" class="button button-positive  button-block">Cerrar Sesion</a>
  </ion-content>
</ion-view>