<ion-view title="Registrar Usuario" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="registrarUsuario-form2" class="list">
      <ion-list id="registrarUsuario-list3">
        <label class="item item-input" id="registrarUsuario-input3">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrarUsuario-input4">
          <span class="input-label">Edad</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrarUsuario-input5">
          <span class="input-label">Altura</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrarUsuario-input6">
          <span class="input-label">Peso</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="registrarUsuario-select1">
          <span class="input-label">Contextura</span>
          <select>
            <option>Delgada</option>
            <option>Corpulenta</option>
          </select>
        </label>
      </ion-list>
      <a ui-sref="opciones" id="registrarUsuario-button3" class="button button-balanced  button-block">Registrar</a>
    </form>
  </ion-content>
</ion-view>